<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Path-X Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/index_custom.css" />
  </head>
  <body>
    <div class="container mt-4">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand fw-bold fs-3" href="/">Path-X</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sign-in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mission</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Service </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid container-brand pt-5 pb-5 mt-4">
      <div class="container">
        <h1 class="title fw-bold">Decision made easy</h1>
        <p class="subtitle pt-3 mb-0 fs-5 text-white-50">Find your path. Organize your approach. With Path-X</p>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="../assets/DA.jpg" class="card-img-top" alt="..." />
            <div class="card-body p-4 rounded-bottom">
              <h5 class="card-title fw-bold">Become a Business Analyst</h5>
              <p class="card-text">Build your courses under MIE Program at University of Toronto to advance your DA career.</p>
              <a href="/userinput/da" class="btn btn-primary">start building</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../assets/DS.jpg" class="card-img-top" alt="..." />
            <div class="card-body p-4 rounded-bottom">
              <h5 class="card-title fw-bold">Become a Data Scientist</h5>
              <p class="card-text">Build your courses under MIE Program at University of Toronto to advance your DS career.</p>
              <a href="/userinput/ds" class="btn btn-primary">start building</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../assets/MLE.jpg" class="card-img-top" alt="..." />
            <div class="card-body p-4 rounded-bottom">
              <h5 class="card-title fw-bold">Become a Machine Learning Engineer</h5>
              <p class="card-text">Build your courses under MIE Program at University of Toronto to advance your MLE career.</p>
              <a href="/userinput/mle" class="btn btn-primary">start building</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="bottom-credit">Path-X made possible by MIE1624 Group-18</h3>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
